@use './utils/mixins' as *;
@use './utils/vars' as *;

body {
  background: var(--black);
  color: var(--gray-0);
  overflow-x: hidden;
}

.main {
  margin-top: 140px;
}

.container {
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gap);
  padding-right: var(--gap);
  &--big {
    max-width: 1920px;
  }
}

.section {
  @include media(md) {
    margin-bottom: 60px;
  }
  @include media(sm) {
    margin-bottom: 80px;
  }
  margin-bottom: 125px;
  &_l {
    @include media(md) {
      margin-bottom: 80px;
    }
    @include media(sm) {
      margin-bottom: 60px;
    }
    margin-bottom: 160px;
  }
}
