@use '@/styles/utils/mixins' as *;

.sectionHeading {
  @include media(md) {
    max-width: 540px;
  }
  @include media(sm) {
    margin-bottom: 44px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 72px;
  &__title {
    @include media(md) {
      font-size: rem(40px);
      margin-bottom: 24px;
    }
    @include media(sm) {
      font-size: rem(32px);
      margin-bottom: 20px;
    }
    font-size: rem(56px);

    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }
  &__titleSmall {
    @include media(md) {
      font-size: rem(32px);
    }
    font-size: rem(36px);
    font-weight: 500;
    letter-spacing: -1px;
    margin-top: 30px;
    text-align: center;
  }
  &__desc {
    @include media(sm) {
      font-size: rem(18px);
    }
    color: var(--gray-400);
    text-align: center;
    line-height: 150%;
    font-size: rem(20px);
  }
}
