.btn {
  padding: 12px 20px;

  display: block;
  border-radius: 12px;
  color: var(--gray-0);
  transition: background 0.5s;
  &_primary {
    background: var(--accent);
    &:hover {
      background: #ac1e6b;
    }
  }
  &_secondary {
    border: 1px solid #343f53;
    background: var(--cards);
    &:hover {
      background: #1e242f;
    }
  }
}
