@use '@/styles/utils/mixins' as *;

.card {
  background: linear-gradient(
    151.85deg,
    #333e52 4.44%,
    rgba(50, 61, 80, 0.13) 25.65%,
    rgba(50, 60, 78, 0) 47.75%,
    rgba(50, 60, 78, 0.13) 66.53%,
    #333e52 91.07%
  );
  border-radius: 24px;
  padding: 1px;
  overflow: hidden;
  position: relative;

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  &:after {
    content: '';
    background: radial-gradient(
      var(--circle-size, 600px) circle at var(--mouse-x) var(--mouse-y),
      #1d1f2b,
      transparent 40%
    );
    border-radius: inherit;

    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;

    transition: opacity 0.5s;
    z-index: 1;
  }
  &__inner {
    @include media(md) {
      padding: 16px;
    }
    background: #0a0d17;
    padding: 30px 85px 38px;
    border-radius: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__text {
    @include media(md) {
      margin-top: 6px;
      max-width: 288px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin-top: 14px;
    position: relative;
    z-index: 2;
  }
  &__title {
    @include media(md) {
      font-size: rem(20px);
      margin-bottom: 12px;
    }
    font-size: rem(28px);
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: -1px;
  }
  &__desc {
    @include media(md) {
      line-height: 150%;
      font-size: rem(16px);
    }
    font-size: rem(18px);
    line-height: 156%;
    text-align: center;
    color: var(--gray-400);
  }
  &__image {
    @include media(sm) {
      height: 173px;
    }
    position: relative;
    height: 180px;
    width: 100%;
    flex: none;
  }

  &__imageContent {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }
  &__imageGrid {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
    width: 100%;
    object-position: top center;
    z-index: 3;
  }
  &__btn {
    @include media(md) {
      margin-top: 20px;
    }
    margin-top: 30px;
  }
}
